.header
	display: flex
	background-color: $bgcolor
	line-height: 42px
	.search
		flex: 1
		height: 30px
		border-radius: 5px
		margin-top: 3px
		text-indent: 6px
	.city
		width: 80px
	.back
		width: 40px
	.city,.back
		text-align: center
		color: white
				